
<div id="loginDetails" class="form-group">

	<div class="alert alert-danger" role="alert" ng-show="correct">
  		<span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
  		<span class="sr-only">Error:</span>
  		Enter a valid Email Address and Password
	</div>	
	<label>Email:</label> 
	<input type="text" name="inputEmail" ng-model="inputEmail"  class="form-control" id="inputEmail"></input><br/>
	
	<label>Password:</label> 
	<input type="password" name="inputPassword" ng-model="inputPassword" class="form-control" id="inputPassword"></input><br/>

	<button type="button" class="btn btn-primary" ng-click="userAuth()">LogIn</button>
</div>